.nav {
    background-color: rgba(30, 30, 30, 0.50);
    text-align: center;
    padding: 16px;
    margin: 16px;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    align-items: center;
    justify-content: center;
}