body {
    padding: auto;
    background-color: #20232a;
}

.customizeBtn {
    padding: 8px;
    border-radius: 16px;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    color: white;
}

.showSeconds {
    border-style: solid;
    border-radius: 16px;
    border-color: white;
    margin: 16px;
    padding: 16px;
    color: white;
}
